body {
    height: 100%;
}

body {
    text-align: center;
    background-image: url("green.jpg")
}

#wrapper {

    width: 960px;
    height: 95%;
    box-sizing: border-box;
    margin: 2.5% auto;
    background-color: transparent;

}

sub-wrapper {
    position: relative;
    top: 15%;
}

button {
    display: block;
    width: 50%;
    height: 20%;
    margin: 0 auto;
    font-size: 42px;
    cursor: pointer;
    background: transparent;
    border: 0;
    font-family: 'Arvo', serif;
}

img {
    height: 200px;
}

h1 {
    padding-top: 2.5%;
    font-family: 'Arvo', serif;
    font-size: 6.5em;
    font-weight: bold;
    color: black;
}

h2 {
    margin-bottom: 25px;
    font-size: 35px;
    font-family: 'Arvo', serif;
}

h3 {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Arvo', serif;
}

#start {
    margin-top: 10%;
    background:transparent;
    border: 2px solid black;
    font-family: 'Arvo', serif;
}

button:hover {
    background: white;
    border: 2px solid black;
}